.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 55px 10px 55px 10px;

  span {
    &:first-child { 
      font-weight: bold;
      font-size: 16px;
    }
    &:last-child { 
      font-size: 14px;
    }
  }
  
}